---
import UseState, { frontmatter } from '../../coleccionHerramientas/UseState.mdx';
import Layout from '../layouts/Layout.astro';
import Counter from '../components/Vue/Counter.vue';
---

<Layout>
  <h1>{frontmatter.titulo}</h1>
  <div>
    <!-- Renderiza solo el cuerpo (y si contiene componentes React, puedes hidratarlos) -->
    <UseState />
  <h2>Ejemplo Vue</h2>
  <Counter client:load />
  </div>
</Layout>
