---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex flex-col justify-center items-center h-dvh text-center gap-4 home">
    <h1 class="text-5xl font-bold text-center">춰C칩digo - C칩digo!</h1>
    <h2>
      Aprenda en espa침ol a utilizar herramientas de React, Vue, Svelte, Preact, SolidJS y Astro 游
    </h2>

    <p class="text-lg">
      Este proyecto nace de la necesidad de aprender sin tener que atravesar barreras idiom치ticas.
    </p>
    <p class="text-lg mb-8">Aprenda m치s r치pido, de manera contextualizada y en su idioma.</p>
    <a href="./herramientas/" class="text-2xl mb-8 text-amber-300 hover:text-fuchsia-300">Ir al cat치logo de herramientas 游댢</a>
  </section>
</Layout>
