---
---

<footer
  class="bg-gray-800 text-white px-4 py-2 border-t-2 border-white flex items-center justify-between "
>
  <p>
    <a
      href="https://github.com/Ariel-GonzAguer/codigo-codigo"
      target="_blank"
      rel="noopener noreferrer"
      class="text-amber-300! hover:underline"
      >Visite el repositorio en GitHub</a
    >
  </p>
  <p><a href="https://github.com/Ariel-GonzAguer/codigo-codigo?tab=License-1-ov-file#readme" target="_blank" rel="noopener noreferrer" class="text-green-300! hover:underline">Licencia MIT</a></p>
</footer>
