---
---

<footer
  class="bg-gray-800 text-white px-4 py-2 border-t-2 border-white flex items-center justify-between"
>
  <p>
    <a
      href="https://github.com/Ariel-GonzAguer/codigo-codigo"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-amber-300"
      >Visite el repositorio en GitHub</a
    >
  </p>
  <p>Licencia MIT</p>
</footer>
